<div class="row">
  <div class="col-lg-6 col-lg-offset-3 well">
    <h3 class="text-center">Acerca de</h3>
    <hr>
    <h3>¿Qué?</h3>
    <p>
      Socialis es una red social construida usando Ruby on Rails. Es totalmente gratis &amp; y totalmente código abierto. Puedes ver el código fuente en <a href="https://github.com/DBBestTeam/Socialistest.git"> <%= fa_icon 'github' %> Github</a>
    </p>
    <br>
    <h3>¿Por qué?</h3>
    <p>
      No se hizo esto como una competencia para Facebook. Dafo a que ya hay demasiadas redes sociales no quiero que se empiece a usar esta. ¡Sin sentido! Así que, ¿para qué hice esto? Lo hice para intentar y aprender como desarrollar una red social y se hizo muy fácil usando Rails. Ah, y porque mi maestro querido la dejó de tarea.
    <br>
    <h3>¿Cómo?</h3>
    <p>
      Para empezar esto es una aplicación de Ruby on Rails. El Frontend se hizo con ayuda de Twitter Bootstrap. La base de datos está en MySQL y para producción se usó Postgresql.
    </p>
    <br>
    <a href="https://github.com/DBBestTeam/Socialistest.git class="btn btn-warning">
      <%= fa_icon 'star' %> Star it
    </a>
    <a href="https://github.com/DBBestTeam/Socialistest.git" class="btn btn-primary">
      <%= fa_icon 'code-fork' %> Fork it
    </a>
  </div>
</div>