<p>Hola, bebé, <%= @resource.email %>!</p>

<p>Alguien ha pedido un link para cambiar tu contraseña. Lo puedes hacer con el siguiente link.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si tú no hiciste esto, por favor ignora esto.</p>
<p>Tu contraseña no cambia hasta que ingreses al link de arriba.</p>
